# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDEs
.idea/
.vscode/
*.iml

# Environment files
.env
*.env
!.env.example

# Web related
**/doc/api/
web/firebase-config.js

# Miscellaneous
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
